.buttonBoxNotification{
  background: $color5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 2rem;
  border: $color2 solid 0.5rem;
  max-width: 25rem;
  h1,h2,h3,h4{
    color: $color1;
    text-align: center;
  }
  button{
    margin: 2rem;
    background: $color2;
    color: $color5;
    border-radius: 1rem;
    transition: .1s;
    font-size: 1.5rem;
    max-width: 80%;
    font-weight: 600;
    padding: 1rem;
    &:hover{
      transform: scale(1.03);
      background: $color2;
    }
    &:active{
      background: $color1;
      color: $color3;
      transform: scale(0.95);
    }
  }
}
.navButton{
  display: flex;
  color: $color2;
  font-size: 2rem;
  font-weight: lighter !important;
  user-select: none;
  transition: 0.2s;
  padding-inline: 1rem;
  &:hover{
    cursor: pointer;
    color: $color1;

  }
  &:active{
    transform: scale(1.1);
  }
  strong,h1,h2,h3,h4{
    padding-inline: 1rem;
    
    
  }
}
