@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
$color1:#C3FCD9;
$color2:#73F0A3;
$color3:#3EA365;
$color4:#A3342E;
$color5:#F07973;
html *
{
  font-family: 'Indie Flower', cursive;
}
html{
  background-color: $color1;
}